In [1]:
import pandas as pd

In [2]:
data = pd.read_parquet('../data/hugging/train-00000-of-00006-1d1ab78e9df29da3.parquet',engine='pyarrow')

In [3]:
data

,text,labels,encoded_labels
0,Football positions \n\nHi Mehudson. When you'...,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,Thank you SO MUCH for your Nazi-like oversight...,"[toxic, profane, insult]","[1, 1, 1, 0, 0, 0, 0, 0, 0]"
2,Darkwind \n Stick it up your arse you offensi...,"[toxic, profane]","[1, 1, 0, 0, 0, 0, 0, 0, 0]"
3,Message from you to an IP \n\nI received a mes...,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,Misleading and inappropriate citations Used,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
...,...,...,...
1057487,I drove an all-electric Volvo C30 more than fi...,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
1057488,Comey will be paid the remainder of his lucrat...,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
1057489,Poor leadership is prevalent through all segme...,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
1057490,I thought maybe it was to attract a mate.,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
1057491,"Little off the subject, but has anyone flown o...",[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [4]:
data2 = pd.read_parquet('../data/hugging/train-00001-of-00006-e144d158479ea86c.parquet',engine='pyarrow')

In [5]:
data2

,text,labels,encoded_labels
0,There wouldn't be a housing crisis in Toronto ...,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,"Michael, with modern medicine only a small fra...",[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
2,Not utter nonsense at all.\n\nOur Finance Coun...,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
3,"Very sad news indeed, definitely one of the ve...",[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,Don't forget kid's... our United States Milita...,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
...,...,...,...
1057487,¡Bienvenidos!\n\nHola y bienvenidos a Wikipedi...,"[toxic, profane, insult, hate]","[1, 1, 1, 1, 0, 0, 0, 0, 0]"
1057488,Agregué Brown v. Board y la otra decisión que ...,[insult],"[0, 0, 1, 0, 0, 0, 0, 0, 0]"
1057489,"""\n\n¿En serio? Si simplemente me detuviera ca...",[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
1057490,"""como, ¿cómo obtengo lo que dice que estoy ret...",[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"
1057491,Liverpool FC\n\nHa habido una alarma cada vez ...,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [6]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057492 entries, 0 to 1057491
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   text            1057492 non-null  object
 1   labels          1057492 non-null  object
 2   encoded_labels  1057492 non-null  object
dtypes: object(3)
memory usage: 24.2+ MB